.Copyright_Container {
  padding: 30px;
  text-align: center;
  background: #eeeeee;
  color: #555555;
  font-size: 14px;
}
.copyright span {
  margin: 0px 1px 0px 3px;
  font-weight: bold;
}
.copyright {
  margin-bottom: 10px;
}
.credits a {
  text-decoration: none;
  color: #3fbbc0;
}
